/* By John Lampropoulos */

@font-face {
	font-family: Truculenta;
	src: url(../Fonts/Truculenta/static/Truculenta_72pt-Bold.ttf);
}
@font-face {
	font-family: Lato;
	src: url(../Fonts/Lato/Lato-Regular.ttf);
}
ol, ul {
  margin: 0;
  padding: 0;
}
#border {
	border-width: 3px;
	border-style: solid;
	border-color: #0b758f;
	border-radius: 5px;
}
#navigation li {
	display: inline-block;
}
#navigation ul {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}
#navigation a {
	font-family: Lato, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 5px;
	margin-right: 10px;
	background-color: #0b758f; /* a279ed */
	border-radius: 15px;
}
#navigation {
	padding: 5px;
	background-color: black;
	max-width: 1990px; 
}
#navigation a:hover {
	background-color: #00647d;
}
header {
	font-family: Truculenta;
	font-size: 36px;
	text-align: center;
}
body {
	background-color: #1a1a1a;
	color: white;
	font-family: Arial, sans-serif;
	max-width: 2000px;
}
abbr {
	text-decoration: none;
}
h2 {
	font-family: Truculenta;
	font-size: 250%;
	text-align: center;
}
h3 {
	font-family: Truculenta;
	font-size: 180%;
	text-align: center;
}
#description {
	width: 400px;
	background-color: #0b758f;
	margin: auto;
	border-radius: 10px;
	padding: 1px;
	margin-bottom: 25px;
	font-size: 1.3em;
	text-align: center;
}
.new-line {
	white-space: nowrap;
}
table {
	margin: auto;
	width: auto;
}
th, td {
	border-style: solid;
	border-width: 2px;
	border-color: #0b758f;
	border-radius: 2px;
	text-align: center;
	padding: 10px;
}
.underline {
	text-decoration: underline;
}
#jobs p {
	text-align: center;
	font-size: 1.3em;
}
.copyright {
	font-size: 12px;
}
td:hover {
	background-color: #292929;
}
th:hover {
	background-color: #292929;
}
#staff-devs {
	width: auto;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #0b758f;
	background-color: #1a1a1a;
}
#admins {
	padding-top: 28px;
	padding-bottom: 28px;
	border-bottom-style: solid;
	border-color: #0b758f;
	background-color: #1a1a1a;
}
#social {
	padding-top: 28px;
	padding-bottom: 28px;
	width: auto;
	background-color: #1a1a1a;
}
#admins h3, #social h3 {
	margin-top: 0;
	margin-bottom: 0;
}
#admins:hover, #staff-devs:hover, #social:hover {
	background-color: #292929;
}