@font-face {
	font-family: Truculenta;
	src: url(../Fonts/Truculenta/static/Truculenta_72pt-Bold.ttf);
}
@font-face {
	font-family: Lato;
	src: url(../Fonts/Lato/Lato-Regular.ttf);
}
ol, ul {
  margin: 0;
  padding: 0;
}
.not-ready {
	display: none;
}
header {
	font-family: Truculenta;
	color: white;
	font-size: 36px;
	text-align: center;
}
body {
	background-color: #1a1a1a;
	color: white;
	font-family: Arial, sans-serif;
	max-width: 2000px;
}
iframe {
	width: 100%;
}
#border {
	border-width: 3px;
	border-style: solid;
	border-color: #0b758f;
	border-radius: 5px;
}
#heading-description {
	width: 400px;
	background-color: #0b758f; /* #d1d1d1 */
	margin: auto;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 25px;
	font-size: 1.3em;
	text-align: center;
}
.underline {
	text-decoration: underline;
}
.application-form {
	text-align: center;
}
#navigation li {
	display: inline-block;
}
#navigation ul {
	margin-top: 16px;
	margin-bottom: 16px;
	padding-left: 40px;
}
#navigation a {
	font-family: Lato, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 5px;
	margin-right: 10px;
	background-color: #0b758f; /* a279ed */
	border-radius: 15px;
}
#navigation {
	padding: 5px;
	background-color: black;
	max-width: 1990px; 
}
#navigation a:hover {
	background-color: #00647d;
}
.copyright {
	font-size: 12px;
}