/* By John Lampropoulos */

@font-face {
	font-family: Truculenta;
	src: url(../Fonts/Truculenta/static/Truculenta_72pt-Bold.ttf);
}
@font-face {
	font-family: Lato;
	src: url(../Fonts/Lato/Lato-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background-color: #1a1a1a;
	color: white;
	max-width: 2000px;
}
header {
	margin-top: 11%;
	margin-bottom: 5.4%;
	font-family: Truculenta;
	color: white;
	font-size: 36px;
	text-align: center;
}
#navigation li {
	display: inline-block;
}
#navigation ul {
	margin-bottom: 16px;
	margin-top: 16px;
}
#navigation a {
	font-family: Lato, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 5px;
	margin-right: 5px;
	background-color: #0b758f; /* a279ed */
	border-radius: 15px;
}
@media only screen and (max-width: 537px) {
	/* #navigation li {
		margin-top: 15px; 
	} */
	#navigation ul {
		padding-left: 20px;
	}
}
@media only screen and (min-width: 538px) {
	#navigation ul {
	padding-left: 40px;
	}
}
#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 5px;
	background-color: black;
	max-width: 1990px; 
}
#navigation a:hover, button:hover {
	background-color: #00647d;
}
#navigation a:active, button:active {
	background-color: #005c5c;
}
main {
	padding: 0 10px;
}
input {
  width: 100%;
  padding: 12px;
  border: 2px solid #0b758f;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none;
  transition: 0.5s;
}
input:focus {
	background-color: lightblue;
	transition: 0.5s;
}
button {
  background-color: #0b758f;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Lato;
  margin-bottom: 20px;
}
h3{
	margin: 2% 0;
}
hr {
	width: 98%;
	margin: 0 auto;
}
.copyright {
	font-size: 12px;
}
.copyright p {
	margin: 1.4% 5px;
}
.copyright a {
	color: white;
}