/* By John Lampropoulos */

@font-face {
	font-family: Lato;
	src: url(../Fonts/Lato/Lato-Regular.ttf);
}
ol, ul {
  margin: 0;
  padding: 0;
}
body {
	font-family: Arial, sans-serif;
	background-color: #1a1a1a;
	color: white;
	max-width: 1990px;
}
#border {
	border-style: solid;
	border-color: #0b758f;
	border-width: 3px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#navigation li {
	display: inline-block;
}
#navigation ul {
	margin-bottom: 16px;
	padding-left: 40px;
}
#navigation a {
	font-family: Lato, sans-serif;
	text-decoration: none;
	font-size: 20px;
	color: white;
	padding: 5px;
	margin-right: 10px;
	background-color: #0b758f; /* a279ed */
	border-radius: 15px;
}
@media only screen and (max-width: 537px) {
	#navigation li {
		margin-top: 15px;
	}
}
@media only screen and (min-width: 538px) {
	#navigation ul {
		margin-top: 16px;
	}
}
#navigation {
	padding: 5px;
	background-color: black;
	max-width: 1990px; 
}
#navigation a:hover, #go-back a:hover {
	background-color: #00647d;
}
header {
	text-align: center;
	font-size: 1.3em;
}
#error-code {
	text-align: center;
	font-size: 160px;
}
#message {
	text-align: center;
}
#go-back {
	margin-left: 15px;
	text-align: center;

}
#go-back a {
	background-color: #0b758f;
	text-decoration: none;
	padding: 5px;
	border-radius: 10px;
	color: white;
	font-family: Lato;
}
.copyright {
	font-size: 12px;
	margin-left: 10px;
}